<div class="about-main">
  <h2>CookAppとは</h2>
  <p>
    プロが考えた家庭的なレシピを共有するSNSサービスです。<br>晩御飯のレシピが思いつかないときや手軽にワンランク上の料理を作りたいときに参考にしましょう！
  </p>
  <img class="about-img" src="/pexels-rfstudio-3621225.jpg">
</div>