<header>
  <div class="header-logo">
    <a href="/">CookApp</a>
  </div>
  <ul class="header-menus">
    <li>
    <a href="about">CookAppとは</a>
    </li>
  </ul>
</header>




<div class="main top-main">
  <div class="top-message">
    <h2>プロのレシピを簡単再現！</h2>
    <p>自慢のレシピを投稿しよう!</p>
  </div>
</div>

